<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/breaths/">Breaths</a></li>
      <li><a href="/explanations/">Explanations</a></li>
      <li><a href="https://void-z2bg.onrender.com">Void</a></li>
    </ul>
  </nav>

  <main>
    <h1>{{ title }}</h1>
    <article>
      {{ content | safe }}
    </article>
  </main>
</body>
</html>